.about-section__container {
  position: relative;
  height: 500px;
  background-color: $white-500;
  overflow: hidden;
}

.about-section {
  width: 800px;
  padding: 50px;
}

.about-section__line-bar {
  border-left: 5px solid #4eacdd;
  padding-left: 15px;
  margin-left: 20px;
}

.about-section__image {
  display: block;
  position: absolute;
  right: -40px;
  top: 110px;
}

//.about-section__image {
//  margin: 20px 20px 0 10px;
//  width: 600px;
//  bottom: -50px;
//
//  img {
//    width: 100%;
//  }
//}