.button {
  color: $white-900;
  font-size: $size-small;
  text-transform: uppercase;
  text-decoration: none;

  display: inline-flex;
  padding: 18px 25px 18px 20px;
  border: 2px solid $white-900;
  transition: all 400ms ease-out;

  span {
    display: block;
    font-weight: 900;
    font-style: italic;
    padding-left: 5px;
  }
}

.button-icon {
  margin-left: 14px;
  line-height: 1.1rem;
}

.button--green {
  color: $green-500;
  padding-left: 27px;
  padding-right: 30px;
  border: 2px solid $green-500;
}

.button--pink {
  color: $pink-500;
  border: 2px solid $pink-500;
}
