// Colors
$gray-900: #545454;

$white-500: #f4f4f4;
$white-900: #ffffff;

$blue-500: #4eacdd;

$green-500: #14af8f;

$pink-500: #ee6ea0;

$red-transparent: rgba(243, 120, 122, 0.9);

// Font Families

$font-primary: 'Open Sans', sans-serif;

$font-secondary: 'Satisfy', cursive;

// Font Sizes
$size-xxs: 0.75rem; //12px - footer
$size-xs: 0.875rem; //14px - enter email
$size-small: 0.9375rem; //15px - buttons
$size-regular: 1rem; //16px - paragraphs
$size-medium: 1.125rem; //18px - nav menu
$size-large: 1.25rem; //20px - subtitle
$size-xl: 1.75rem; //28px - section title
$size-xxl: 1.875rem; //30px -subtitle
$size-xxxl: 2.5rem; //40px - section title
$size-huge: 3rem; //48px - hero title
$size-xh: 4.375rem; //70px - hero title